[{:block/name
  "../assets/1-s2.0-s0020025514003715-main_1646570502979_0.pdf",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name
  "../assets/1-s2.0-s0921889018301994-main_1646561877735_0.pdf",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name
  "../assets/a_comparative_study_on_camera-radar_calibration_methods_(1)(1)_1645607450319_0.pdf",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name
  "../assets/a_continuous-time_approach_for_3d_radar-to-camera_extrinsic_calibration_1647692482563_0.pdf",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name
  "../assets/a_joint_extrinsic_calibration_tool_for_radar_camera_and_lidar_1646550095703_0.pdf",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name
  "../assets/a_method_of_spatial_calibration_for_camera_and_radar_1646964138708_0.pdf",
  :block/created-at 1652475158409,
  :block/updated-at 1652475158409}
 {:block/name
  "../assets/an_extrinsic_calibration_tool_for_radar_camera_and_lidar_1646570326240_0.pdf",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name
  "../assets/distributed_multi_sensor_data_fusion_for_autonomous_3d_mapping_1648881866896_0.pdf",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name
  "../assets/obstacle_detection_using_millimeter-wave_radar_and_its_visualization_on_image_sequence_1646549020450_0.pdf",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name
  "../assets/online_multi_sensor_calibration_based_on_moving_object_tracking_1647695427406_0.pdf",
  :block/created-at 1652475158408,
  :block/updated-at 1652475158408}
 {:block/name
  "../assets/precise_timestamping_and_temporal_synchronization_in_multi-sensor_fusion_1648881539182_0.pdf",
  :block/created-at 1652475158409,
  :block/updated-at 1652475158409}
 {:block/name
  "../assets/radar_and_vision_sensors_calibration_for_outdoor_3d_reconstruction_1646570820869_0.pdf",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name
  "../assets/real-time_temporal_and_rotational_calibration_of_heterogeneous_sensors_using_motion_correlation_analysis_1648883088556_0.pdf",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "../assets/sensors-11-08992-v2_1646568216106_0.pdf",
  :block/created-at 1652475158408,
  :block/updated-at 1652475158408}
 {:block/name "../assets/sensors-20-01439_1648882547827_0.pdf",
  :block/created-at 1652475158409,
  :block/updated-at 1652475158409}
 {:block/name
  "../assets/targetless_rotational_auto-calibration_of_radar_and_camera_for_intelligent_transportation_systems_1647693820046_0.pdf",
  :block/created-at 1652475158411,
  :block/updated-at 1652475158411}
 {:block/name "2d感知算法",
  :block/created-at 1648640849682,
  :block/updated-at 1648791500853}
 {:block/name "3d感知算法",
  :block/created-at 1652475158408,
  :block/updated-at 1652475158408}
 {:block/name "3月进度",
  :block/created-at 1650246395632,
  :block/updated-at 1650249345948}
 {:block/name "a",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "a comparative study on camera-rader calibration method",
  :block/created-at 1645607450876,
  :block/updated-at 1645610358085}
 {:block/name
  "a continuous-time approach for 3d radar-to-camera extrinsic calibration",
  :block/created-at 1647744585132,
  :block/updated-at 1647746031080}
 {:block/name
  "a joint extrinsic calibration tool for radar, camera and lidar",
  :block/created-at 1646550096248,
  :block/updated-at 1646570326781}
 {:block/name "a method of spatial calibration for camera and radar",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "b",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name "c",
  :block/created-at 1652475158411,
  :block/updated-at 1652475158411}
 {:block/name "calibration_note",
  :block/created-at 1645454586603,
  :block/updated-at 1653137091378}
 {:block/name "camera内参标定",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "card",
  :block/created-at 1652475158409,
  :block/updated-at 1652475158409}
 {:block/name "centernet",
  :block/created-at 1648646626297,
  :block/updated-at 1648648542934}
 {:block/name "change",
  :block/created-at 1653223266428,
  :block/updated-at 1653223266428}
 {:block/name "contents",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "dataset",
  :block/created-at 1653223266427,
  :block/updated-at 1653223266427}
 {:block/name
  "distributed multi sensor data fusion for autonomous 3d mapping",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "dlt",
  :block/created-at 1646549020993,
  :block/updated-at 1646570503525}
 {:block/name "doing",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name "done",
  :block/created-at 1652475158411,
  :block/updated-at 1652475158411}
 {:block/name
  "extrinsic 6dof calibration of a radar–lidar–camera system enhanced extrinsic 6dof calibration of a radar–lidar–camera system enhanced",
  :block/created-at 1646561878295,
  :block/updated-at 1646565470608}
 {:block/name "faster r-cnn",
  :block/created-at 1652758319480,
  :block/updated-at 1652793620923}
 {:block/name "favorites",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "fdd",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name "feb 25th, 2022",
  :block/created-at 1645747200000,
  :block/updated-at 1652875792479}
 {:block/name "final project",
  :block/created-at 1650246389838,
  :block/updated-at 1650246389838}
 {:block/name "hls__1-s2.0-s0921889018301994-main_1646561877735_0",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name
  "hls__a_comparative_study_on_camera-radar_calibration_methods_(1)(1)_1645607450319_0",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name
  "hls__real-time_temporal_and_rotational_calibration_of_heterogeneous_sensors_using_motion_correlation_analysis_1648883088556_0",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name "in-progress",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name
  "integrating millimeter wave radar with a monocular vision",
  :block/created-at 1646568216642,
  :block/updated-at 1646568604376}
 {:block/name "later",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name "mar 2nd, 2022",
  :block/created-at 1651391122964,
  :block/updated-at 1652876018249}
 {:block/name "network",
  :block/created-at 1653223266427,
  :block/updated-at 1653223266427}
 {:block/name "now",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "nuscenes",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "online multi-sensor calibration based on moving",
  :block/created-at 1652475158408,
  :block/updated-at 1652475158408}
 {:block/name "pointnet",
  :block/created-at 1650858182577,
  :block/updated-at 1651754362975}
 {:block/name "pointnet++",
  :block/created-at 1650876658599,
  :block/updated-at 1652154448965}
 {:block/name "pointnet++代码",
  :block/created-at 1652154480072,
  :block/updated-at 1652287661314}
 {:block/name "pointnet代码",
  :block/created-at 1651754376620,
  :block/updated-at 1651755235295}
 {:block/name "pointnet家族",
  :block/created-at 1650889870042,
  :block/updated-at 1650891216340}
 {:block/name "pointpillar",
  :block/created-at 1650955274556,
  :block/updated-at 1650960332815}
 {:block/name "pointpillar代码",
  :block/created-at 1651241227478,
  :block/updated-at 1651392668575}
 {:block/name
  "precise timestamping and temporal synchronization in multi-sensor fusion",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "pytorch",
  :block/created-at 1653223266427,
  :block/updated-at 1653223266427}
 {:block/name "r-cnn",
  :block/created-at 1648641189460,
  :block/updated-at 1648644782711}
 {:block/name
  "radar and vision sensors calibration for outdoor 3d reconstruction",
  :block/created-at 1646570821416,
  :block/updated-at 1646570821416}
 {:block/name "radar成像机制",
  :block/created-at 1645762993964,
  :block/updated-at 1645777055032}
 {:block/name "readme",
  :block/created-at 1653223266427,
  :block/updated-at 1653223266427}
 {:block/name
  "real-time temporal and rotational calibration of heterogeneous sensors",
  :block/created-at 1652475158409,
  :block/updated-at 1652475158409}
 {:block/name "rpn",
  :block/created-at 1653223266427,
  :block/updated-at 1653223266427}
 {:block/name "ssd",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "ssd/yolo",
  :block/created-at 1648646203445,
  :block/updated-at 1648646384055}
 {:block/name
  "targetless rotational auto-calibration of radar and camera",
  :block/created-at 1647746077732,
  :block/updated-at 1647746078401}
 {:block/name "test",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "todo",
  :block/created-at 1652475158411,
  :block/updated-at 1652475158411}
 {:block/name
  "versavis—an open versatile multi-camera visual-inertial sensor suite",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "voxelnet",
  :block/created-at 1650951998862,
  :block/updated-at 1650955081348}
 {:block/name "wait",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "waiting",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "为什么标定传感器",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "乳腺癌分割",
  :block/created-at 1649413873913,
  :block/updated-at 1649417961963}
 {:block/name "传感器时序闭环构建",
  :block/created-at 1652475158405,
  :block/updated-at 1652475158405}
 {:block/name "前融合",
  :block/created-at 1648825677413,
  :block/updated-at 1650536716830}
 {:block/name "单目3d感知",
  :block/created-at 1652475158409,
  :block/updated-at 1652475158409}
 {:block/name "双目3d感知",
  :block/created-at 1649759025333,
  :block/updated-at 1649762546012}
 {:block/name "后融合",
  :block/created-at 1648825662567,
  :block/updated-at 1649339207508}
 {:block/name "后融合算法设计与实现",
  :block/created-at 1649339229037,
  :block/updated-at 1649339282436}
 {:block/name "向量的基本运算",
  :block/created-at 1646571301709,
  :block/updated-at 1646573854426}
 {:block/name "基础操作",
  :block/created-at 1653223266428,
  :block/updated-at 1653223266428}
 {:block/name "外参标定",
  :block/created-at 1652475158411,
  :block/updated-at 1652475158411}
 {:block/name "多传感器融合感知",
  :block/created-at 1645776770514,
  :block/updated-at 1648825658617}
 {:block/name "成像同步机制",
  :block/created-at 1646192113977,
  :block/updated-at 1646192732834}
 {:block/name "数据集使用说明",
  :block/created-at 1652475158410,
  :block/updated-at 1652475158410}
 {:block/name "整车传感器系统分析",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "方案",
  :block/created-at 1649040593249,
  :block/updated-at 1651577405917}
 {:block/name "物体检测算法",
  :block/created-at 1648641096728,
  :block/updated-at 1648646557759}
 {:block/name "环境感知算法",
  :block/created-at 1652475158412,
  :block/updated-at 1652475158412}
 {:block/name "线性代数",
  :block/created-at 1646571108606,
  :block/updated-at 1646571125355}
 {:block/name "语义分割算法",
  :block/created-at 1648791789212,
  :block/updated-at 1648792445886}
 {:block/name "非线性优化",
  :block/created-at 1652475158410, 
  :block/updated-at 1652475158410}]
